!!!
%html
  %head
    %title My first Vue app
    %script{:src => "https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"}
    :css
      .hello {
        font-size:20pt;
        font-weight:bold;
        border:1px solid magenta;
        padding:5px 10px 0px 10px;
        margin:10px;
      }
  %body
    %h1 Vue.js
    #app
      %div
        -# name属性で指定
        %hello{:name => "Taro"}
      %div
        %hello{:name => "Hanako"}
    :javascript
      // 1.Vueコンポーネントを作成し
      Vue.component('hello', //helloタグにbind
      {
          props:['name'], //テンプレートのメッセをtemplate外から指定できるようになる
          // props:{ name: String }, //テンプレートのメッセをtemplate外から指定できるようになる
          // props:{ 名前: String, ... }, //データのタイプを指定することも可能
          // 指定できるのは、「String, Number, Boolean, Array, Object」
          template: '<p class="hello">Hello, {{name}}!</p>', // propsで指定した属性名がそのまま変数として使える
      })
      // 2.Vueオブジェクト作成
      var app = new Vue({
          el: '#app',
      });

      // helloタグと1.2を合わせてコンポーネントと呼ぶ
      // 一度コンポーネントを作れば、あとはタグを表示したいhtmlに埋め込めば、
      // 1,2のVueオブジェクトの作成部分を再利用できる